.header {
  display: flex;
  height: 15vh;

  background-color: rgb(220, 220, 220);
}

.main {
  display: flex;
  height: 70vh;
}

.section {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;

  background-color: rgba(245, 212, 91, 0.438);
}

.item {
  text-align: center;
  flex-grow: 1;
  margin: 5px;
  padding-top: 20px;
}

.section__item {
  background-color: rgba(245, 211, 91, 0.749);
}

.item__wide-item {
  width: 100%;
}

.title {
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

.aside {
  min-width: 30%;

  background-color: rgba(119, 174, 131, 0.377);
}

.footer {
  display: flex;
  height: 15vh;

  background-color: rgb(220, 220, 220);
}

.footer__item {
  background-color: white;
}
